@pentabd:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
# 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
# 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