$blue-25: #f5faff !default;
$blue-50: #eff8ff !default;
$blue-100: #d1e9ff !default;
$blue-200: #b2ddff !default;
$blue-300: #84caff !default;
$blue-400: #53b1fd !default;
$blue-500: #2e90fa !default;
$blue-600: #1570ef !default;
$blue-700: #175cd3 !default;
$blue-800: #1849a9 !default;
$blue-900: #194185 !default;
$blue-950: #102a56 !default;

// primary-color
$primary-25: $blue-25;
$primary-50: $blue-50;
$primary-100: $blue-100;
$primary-200: $blue-200;
$primary-300: $blue-300;
$primary-400: $blue-400;
$primary-500: $blue-500;
$primary-600: $blue-600;
$primary-700: $blue-700;
$primary-800: $blue-800;
$primary-900: $blue-900;
$primary-950: $blue-950;

$primary: $primary-500;
